name: CI

on:
  push:
    paths-ignore:
      - "**/*.md"
      - '**/*.txt'
  pull_request:
    paths-ignore:
      - "**/*.md"
      - '**/*.txt'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name  }}
  cancel-in-progress: true

jobs:
  payload-build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout SDK
      uses: actions/checkout@v3
      with:
        repository: ps5-payload-dev/sdk
        path: sdk

    - name: Setup SDK
      working-directory: sdk
      run: |
        sudo apt update
        sudo apt install xxd clang-15 lld-15
        make DESTDIR=${{ runner.tool_cache }}/ps5-payload-sdk clean install
        echo PS5_PAYLOAD_SDK=${{ runner.tool_cache }}/ps5-payload-sdk >> $GITHUB_ENV

    - name: Checkout Payload
      uses: actions/checkout@v3

    - name: Build Payload
      run: |
        bash libmicrohttpd.sh
        make clean all

    - name: Upload Payload
      uses: actions/upload-artifact@v3
      with:
        name: Payload
        path: ./websrv.elf
        if-no-files-found: error

    - name: Upload Launcher
      uses: actions/upload-artifact@v3
      with:
        name: Launcher
        path: ./homebrew/IV9999-FAKE00001_00-HOMEBREWLOADER01.pkg
        if-no-files-found: error

    - name: Upload DevilutionX
      uses: actions/upload-artifact@v3
      with:
        name: DevilutionX
        path: ./homebrew/DevilutionX
        if-no-files-found: error

    - name: Upload FFplay
      uses: actions/upload-artifact@v3
      with:
        name: FFplay
        path: ./homebrew/FFplay
        if-no-files-found: error

    - name: Upload LakeSnes
      uses: actions/upload-artifact@v3
      with:
        name: LakeSnes
        path: ./homebrew/LakeSnes
        if-no-files-found: error

    - name: Upload Mednafen
      uses: actions/upload-artifact@v3
      with:
        name: Mednafen
        path: ./homebrew/Mednafen
        if-no-files-found: error

    - name: Upload SVTplay
      uses: actions/upload-artifact@v3
      with:
        name: SVTplay
        path: ./homebrew/SVTplay
        if-no-files-found: error

    - name: Upload SverigesRadio
      uses: actions/upload-artifact@v3
      with:
        name: SverigesRadio
        path: ./homebrew/SverigesRadio
        if-no-files-found: error

    - name: Upload FBNeo
      uses: actions/upload-artifact@v3
      with:
        name: FBNeo
        path: ./homebrew/FBNeo
        if-no-files-found: error
